{% extends "layout.html" %}

{% set aktiva_lapa = "about"%}

{% block lapa %} - Par mani {% endblock %}


{% block saturs %}

    <h1>Par mani</h1>

    <img src="static/images/portrets.jpg" alt="Portrets">

    <p>

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris commodo rhoncus arcu, nec efficitur tellus pharetra sed. Sed turpis velit, dignissim volutpat tincidunt eu, tempus mattis eros. Fusce elementum sit amet est at sodales. Vivamus aliquet elit quis enim varius lobortis. Morbi convallis turpis ac lectus sollicitudin, vel lobortis orci commodo. Fusce nulla mi, elementum eget varius quis, porttitor in elit. Aliquam erat volutpat. Maecenas at tellus vel velit venenatis luctus at in magna. Curabitur id mi tempus, fringilla metus id, luctus est. Vivamus non enim posuere, finibus enim in, imperdiet massa.

        Ut tempus finibus viverra. Nam ac mollis est. Sed fringilla dolor eu justo posuere aliquet non et metus. Aliquam a ultricies dui. Aenean malesuada nibh justo, nec fermentum urna dictum a. Vestibulum sed pellentesque nisl. Cras sollicitudin sapien et pulvinar blandit. Maecenas lobortis eleifend felis, at tincidunt dolor finibus vel. Quisque viverra lorem in sapien aliquam, in ultricies magna aliquet. Sed a dui eget ligula auctor ultricies. Vivamus nec congue justo. Aenean finibus lorem vel velit sollicitudin gravida. Nunc non iaculis est. Nulla lacinia turpis quis lacus maximus sodales. Nunc consequat nisi id nibh convallis, sit amet cursus dolor volutpat.

        Duis varius tempus laoreet. Nam mollis sit amet ex vitae cursus. Vivamus finibus non neque eu tincidunt. Cras sagittis fermentum mi quis malesuada. Cras sagittis lacus non nibh consequat consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam luctus tellus ligula, quis interdum enim mollis ac. Vivamus mi urna, fringilla sit amet vehicula non, posuere sed lorem. Proin leo velit, tempor eget ante a, placerat tincidunt velit.

        In ligula dui, rhoncus vitae ligula in, tincidunt condimentum lorem. Nulla consectetur ut elit vel posuere. Phasellus iaculis pellentesque dignissim. Suspendisse convallis turpis eu orci tristique euismod. Donec lacinia felis quis porttitor imperdiet. Quisque hendrerit diam eu congue tincidunt. Morbi aliquet sollicitudin nisi vel pulvinar. Vestibulum fermentum consequat semper.

        Donec ipsum massa, pharetra sit amet tincidunt in, feugiat non nisl. Sed congue, erat et convallis gravida, nisi risus euismod velit, in sodales dui leo ut nisl. Integer vitae justo nec orci pellentesque rhoncus et tempus tellus. Nullam in felis tincidunt, auctor nulla sit amet, feugiat libero. Vestibulum ut sodales tortor. Quisque a odio leo. In hac habitasse platea dictumst. Sed ligula ante, molestie at ornare non, pulvinar sodales odio. 

    </p>
{% endblock %}
