{% extends "layout.html" %}

{% set aktiva_lapa = "form"%}

{% block lapa %} - Anketa {% endblock %}

{% block saturs %}

    <h1>Uzraksti man</h1>
    {% if veiksmigi == '1' %}     
        <div class="alert alert-success" role="alert">
            Ziņa nosūtīta!
        </div> 
    {% endif %}

    <form method="POST", action="/postData" autocomplete="off" >
        <div class="mb-3">
            <div class="row" id="in-form">
                <div class="col">
                    <label for="vards" class="form-label">Vārds</label>
                    <input type="text" class="form-control" name='vards'>
                </div>
                <div class="col">
                    <label for="uzvards" class="form-label">Uzvārds</label>
                    <input type="text" class="form-control" name='uzvards'>
                </div>
            </div>

            <label for="exampleInputEmail1" class="form-label">Epasts</label>
            <input type="email" class="form-control" id="exampleInputEmail1" name=epasts>
            <div id="emailHelp" class="form-text extra-padding">Pssst.... Tavs epasts ir drošībā!</div>

            <div class="form-check extra-padding">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" name='atbilde'>
                <label class="form-check-label" for="flexCheckDefault">
                    Vai vēlies, lai es Tev atbildu uz norādīto epastu?
                </label>
            </div>

            <label for="textField" class="form-label">Ziņa</label>
            <input class="form-control" id="textField" name='zina' required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Nosūtīt</button>
    </form>

{% endblock %}
