{% extends "layout.html" %}

{% set aktiva_lapa = "form"%}

{% block lapa %} - Anketa {% endblock %}

{% block saturs %}
<h1>Uzraksti man</h1>
    <form method="POST" action="/postData">
        <div class="row g-3">
            <div class="col">
              <input type="text" class="form-control" placeholder="Vārds" name="vards">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Uzvārds">
            </div>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Epasts</label>
            <input type="email" class="form-control" id="exampleInputEmail1">
            <div id="emailHelp" class="form-text">Tavs epasts ir drošībā!</div>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Vai vēlies, lai es Tev atbildu?
            </label>
          </div>
        <select class="form-select" aria-label="Default select example">
            <option selected>Tēma</option>
            <option value="1">Koki</option>
            <option value="2">Citi koki</option>
            <option value="3">Koks</option>
          </select>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Ziņa</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Nosūtīt</button>
    </form>

{% endblock %}
