{% extends "layout.html" %}

{% set aktiva_lapa = "my_projects"%}

{% block lapa %} - Mani projekti {% endblock %}

{% block saturs %}

    <h1>Mani projekti</h1>

    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2">
            <div class="col"><img src="static/images/cattent.png" alt="Kaķu telts"></div>
            <div class="col"><img src="static/images/hanging_lamp.jpg" alt="Lampa"></div>
            <div class="col"><img src="static/images/game.jpg" alt="Galda spēle"></div>
            <div class="col"><img src="static/images/game.jpg" alt="Galda spēle"></div>
        </div>
    </div>


    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nosaukums</th>
                <th scope="col">Tips</th>
                <th scope="col">Komentāri</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Kaķu telts</td>
                <td>Dekors</td>
                <td>Koka daļu veido slotas kāti, kas iegādāti Depo veikalā.</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>No zariem veidota lustra</td>
                <td>Dekors</td>
                <td>Interesants projekts</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Spēle ar ripām</td>
                <td>Galda spēle</td>
                <td>Jo šaurāka sprauga pa kuru šaibai iziet uz otru pusi, jo grūtāka spēle. Katrai šādai spēlei ir divas grūtības pakāpes.</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Vīna glāžu turētājs</td>
                <td>Dekors</td>
                <td>Ideāli piemērots, ja mājās nav vairāk kā divas vīna glāzes.</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
